.social-button {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.social-button li {
	float: left;
	margin: 0 5px 0 0;
	padding: 0;
}

.social-button li div {
	display: inline;
}

.social-button:before,
.social-button:after {
	content: " ";
	display: table;
}

.social-button:after {
	clear: both;
}

.social-button {
	*zoom: 1;
}

.social-button iframe.twitter-share-button {
    width: 90px !important;
}